.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: black;
  height: 100vh;
  /* overflow-x: hidden; */
}

.timelineMain {
  background-color: black;
  height: auto;
  padding: 100px 0;
}

.common {
  height: auto;
  display: flex;
  background-color: black;
  width: 100%;
}

.random {
  height: auto;
  width: 100%;
  background-color: black;
}

.introParent {
  background-color: black;
  width: 100%;
  /* overflow: hidden; */
  height: auto;
  padding-top: 50px;
}

.progressParent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  padding-bottom: 20px;
}

.mainProgressParent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  padding-bottom: 20px;
}
